* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  .header {
    background-color: #0e2941;
    color: #fff;
    padding: 10px 20px;
    text-align: right;
    display: flex; /* Align items horizontally */
    align-items: center; /* Align items vertically */
  }
  .header a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  .logo {
    margin-right: 20px; /* Add some space between the logo and the links */
    vertical-align: middle; /* Align the logo vertically with the links */
    height: 40px;
  }
  .container {
    max-width: 1000px;
    margin: 100 auto;
    padding: 20px;
    overflow: hidden; /* Clear the float */
  }

  .concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .concert {
    width: calc(33.33% - 20px); /* Justeret bredden til at rumme margener */
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .concert img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .concert h2 {
    margin-top: 0;
  }
  .concert p {
    margin: 10px 0;
  }